## Create & Access SQLite database using Python

### Task 1: Create database using SQLite

In [2]:
#Install & load sqlite3
#!pip install sqlite3  ##Uncomment the code to install sqlite3
import sqlite3

In [3]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')

### Task 2: Create a table in the database

In [4]:
# cursor object
cursor_obj = conn.cursor()

In [5]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [6]:
# Creating table
table = """ 
    create table 
    IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, 
                                FNAME VARCHAR(20), 
                                LNAME VARCHAR(20), 
                                CITY VARCHAR(20), 
                                CCODE CHAR(2));
    """
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

### Task 3: Insert data into the table

In [7]:
insert_values="""
insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
"""
cursor_obj.execute(insert_values)

In [8]:
insert_values2="""
insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'),
                              (3, 'Hima', 'Vasudevan', 'Chicago', 'US')  
"""

cursor_obj.execute(insert_values2)

### Task 4: Query data in the table

In [10]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [11]:
output_all

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [12]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [13]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

In [16]:
# query updata
update='''
update instructor set city="MOOSETOWN" where fname="Rav"
'''
cursor_obj.execute(update)

In [20]:
statement=''' select * from instructor'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row in output_all:
  print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

### Task 5: Retrieve data into Pandas

In [21]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [22]:
df.LNAME[0]

'Ahuja'

In [23]:
df.shape

(3, 5)

### Task 6: Close the Connection

In [24]:
# Close the connection
conn.close()